<div class="alexis-marketplace-main">
  <div class="alexis-marketplace-second">
    <div class="alexis-marketplace-menu">
      <div class="marketplace-menu-element">
        <button class='public' > public </button>
      </div>
      <div class="marketplace-menu-element">
        <button class='private' > private </button>
      </div>
      <div class="marketplace-menu-element">
        <button class='shotguns' > my shotguns </button>
      </div>
    </div>

    <div class="alexis-marketplace-lists-container">
      <div class="div-public">
        <%= render "lists", lists: @lists %>
      </div>
      <div class="div-private d-none">
        <%= render "lists", lists: @priv_lists %>
      </div>
      <div class="div-my-shot d-none">
        <%= render "lists", lists: @shotguns %>
      </div>
    </div>
    <div class="alexis-marketplace-container-create-btn">
      <div class="alexis-marketplace-create-btn">
        <%= link_to new_list_path do %>
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
